body {
    background: #f8f9fa;
}

.payment-card {
    max-width: 420px;
    width: 100%;
    border-radius: 12px;
    background: #ffffff;
    padding: 20px;
}

.qr-code {
    max-width: 200px;
}

.payment-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.payment-buttons a:hover {
    background-color: #f1f1f1;
}

.pay-logo {
    width: 30px;
    height: auto;
}
/* Hide the entire page initially */
body {
    visibility: hidden; /* Hides everything */
    background: #ffffff; /* Ensures blank background */
}

/* Show only the loader */
#loader {
    visibility: visible;
}
